extends ../layout
block content
  form(method="POST" action="/buscar/#{publicado.id}?_method=put" class="col-md-12 center-block t text-center")
    h1 Editar Publicacion - ViviGuate
    a(href="/mias") ver publicaciones
    br
    div(class="form-group")
      input(type="text" size="40" value="#{publicado.nombrePub}" name="nombrePub" placeholder="Escribe un Nombre a la  Publicacion" class="form'control")
      p Ejemplo: Vendo Casa en Z10, Alquilo Apartamento en Izabal
    div(class="form-group")
      textarea(type="text" rows="3" cols="40" name="descripcionPub" placeholder="Escribe una descripcion de la  Publicacion" class="form'control")
        =publicado.descripcionPub
    div(class="form-group")
      input(list="dep" name="departamentoPub" value="#{publicado.departamentoPub}" size="40" placeholder="Selecciona El Departamento")
      datalist(id="dep")
        option(value="Alta Verapaz")
        option(alue="Baja Verapaz")
        option(value="Chimaltenango")
        option(value="Chiquimula")
        option(value="Petén")
        option(value="El Progreso")
        option(value="Quiché")
        option(value="Escuintla")
        option(value="Guatemala")
        option(value="Huehuetenango")
        option(value="Izabal")
        option(value="Jalapa")
        option(value="Jutiapa")
        option(value="Quetzaltenango")
        option(value="Retalhuleu")
        option(value="Sacatepéquez")
        option(value="San Marcos")
        option(value="Santa Rosa")
        option(value="Sololá")
        option(value="Suchitepéquez")
        option(value="Totonicapán")
        option(value="Zacapa")
     
    div(class="form-group")
      input(type="text" size="40" value="#{publicado.municipioPub}" name="municipioPub" placeholder="Escribe un Nombre del Municipio de Ubicacion" class="form'control")
    div(class="form-group")
      input(type="text" size="40" value="#{publicado.direccionPub}" name="direccionPub" placeholder="Escribe la direccion exacta del inmueble" class="form'control")
    div(class="form-group")
      input(type="Number" style="width:316px" value="#{publicado.precio}" name="precio" placeholder="Escribe El Precio del Inmueble" class="form'control")
    div(class="form-group")
      input(list="contexto" value="#{publicado.contextoPrecio}" name="contextoPrecio" size="40" placeholder="Selecciona El tipo de precio")
      datalist(id="contexto")
        option(value="Precio Fijo")
        option(value="Precio Negociable")
    div(class="form-group")
      input(list="financiamiento" value="#{publicado.financiamientoPub}" name="financiamientoPub" size="40" placeholder="Forma de Pago")
      datalist(id="financiamiento")
        option(value="Financiamiento")
        option(value="Contado")
        option(value="Financiamiento o Contado")
    div(class="form-group")
      input(list="alquiler" value="#{publicado.alquilerCompra}" name="alquilerCompra" size="40" placeholder="Selecciona El tipo de venta")
      datalist(id="alquiler")
        option(value="Alquiler")
        option(value="Compra")
        option(value="Alquiler o Compra")
    div(class="form-group")
      input(list="estado" value="#{publicado.estadoPub}" name="estadoPub" size="40" placeholder="Cambia el estado de la publicacion")
      datalist(id="estado")
        option(value="Disponible para venta")
        option(value="Vendida")
    div(class="form-group")
      input(type="date" value="#{publicado.fechaPub}" style="width:316px" name="fechaPub" class="form'control")
    div(class="form-group")
      input(type="submit" size="20" class="btn btn-info" value="Publicar")

